.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.5rem;
  justify-content: center;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item__img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item__cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.portfolio__item__cta a {
  width: 100%;
  text-align: center;
}

/* -------- Media Queries (x Medium) ---------*/

@media screen and (max-width: 1200px) {
  .portfolio__item__cta {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

/* -------- Media Queries (Medium) ---------*/
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* -------- Media Queries (Small) ---------*/
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
}

/* -------- Media Queries (Extra Small) ---------*/
@media screen and (max-width: 290px) {
  .portfolio__item__cta {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
